main h1 {
  font-size: 3rem;
}

main hr {
  margin: 2rem 0;
}

.offer-card {
  text-decoration: inherit;
  color: inherit;
  transition: opacity 300ms ease-in;
}

.offer-card.htmx-settling {
  opacity: 0;
}

.offer-card article {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1.5rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  transition: 250ms all;
  border-radius: var(--radius);
}

.offer-card article header {
  flex: 0 1 300px;
  max-width: 300px;
  width: 100%;
}

.offer-card article header img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  display: block;
  border: 2px solid var(--border-gray);
  border-radius: var(--radius);
}

@media only screen and (max-width: 1000px) {
  .offer-card article {
    flex-direction: column;
  }
  .offer-card article main .small-text {
    margin-top: 1.5rem !important;
  }
  .offer-card article header {
    width: 100%;
    max-width: 100%;
  }
}

.offer-card article:hover {
  background: #151515;
}

.offer-card article main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.offer-card article main h2 {
  margin-bottom: 1rem;
}

.offer-card article main ul {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.offer-card article main .small-text {
  margin-top: auto;
  color: #999;
  font-size: 1rem;
}

.offer-card article footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 260px;
  flex: 0;
}

.offer-card article footer button {
  margin-top: 1rem;
  width: 100%;
}

#next-page {
  text-align: center;
}

#next-page a {
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray);
  background: var(--main-bg);
  outline: none;
  transition: 250ms all;
  border-radius: var(--radius);
  text-decoration: inherit;
  color: inherit;
}

#next-page a:hover {
  border-color: var(--white);
}

.htmx-indicator,
.content-end {
  text-align: center;
  font-size: 2rem;
  color: #999;
}
