:root {
  --main-bg: #020202;
  --accent: #f8b763;
  --gray-bg: #252525;
  --gray-hover: #151515;
  --border-gray: #575757;
  --border-hover: #808080;
  --white: #ebe9e9;
  --red: #dc3545;
  --red-alt: #540812;
  --radius: 4px;
  --sel-color: var(--accent);
  --sel-outline: 2px solid var(--sel-color);

  font-size: 16px;
  font-family: Inter, sans-serif;
  /* prettier-ignore */
  font-feature-settings:
    "liga" 1,
    "calt" 1, /* Contextual alternates */
    "tnum" 1, /* Tabular numbers */
    "zero" 1, /* Slashed zero */
    "ss02" 1, /* Disambiguation */
    "ss03" 1; /* Round quotes & comma */
  font-variant-numeric: tabular-nums;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 14px !important;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--main-bg);
  color: var(--white);
}

body > main {
  min-height: 100vh;
}

body > main * {
  box-sizing: border-box;
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
  min-width: 0;
}

body,
input,
button,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variant-numeric: inherit;
}

body > main,
body > nav,
body > footer {
  padding: 1rem 2rem;
}

/*
* ==============================================================================
* TOAST
* ==============================================================================
*/

#toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  color: #fff;
  padding: 1.25rem;
  opacity: 0;
  border-radius: var(--radius);
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-Err {
  background: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}

.toast-Err hr {
  border-color: #9e232f;
}

.toast-Ok {
  background: #35dc79 !important;
  border: 1px solid #35dc79 !important;
  color: #021909 !important;
}

.toast-Ok hr {
  border-color: #29b060;
}

/*
* ==============================================================================
* NAVBAR
* ==============================================================================
*/

body > nav {
  font-size: 1rem;
  background: var(--gray-bg);
  border-bottom: 2px solid var(--border-gray);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-inner {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(0, 680px) minmax(auto, 1fr);
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  text-wrap: nowrap;
  gap: 2rem;
}

.nav-inner > form {
  min-width: 0;
}

.nav-inner > .desktop:first-child {
  justify-self: start;
}

.nav-inner > :nth-child(2) {
  justify-self: center;
}

.nav-inner > .desktop:nth-child(3) {
  justify-self: end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  color: inherit;
  text-decoration: none;
  transform: translateY(0.25rem);
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
  transition:
    all 250ms,
    outline 0s;
}

nav a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}

nav a:has(img) {
  border-bottom: none;
}

@media (prefers-reduced-motion: no-preference) {
  nav a:has(img):hover {
    scale: 1.2;
  }
}

nav .mobile {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#mobile-container {
  display: none;
  margin-top: 1rem;
  border-top: 1px solid var(--border-gray);
  padding: 1rem 0;
  flex-direction: column;
}

#mobile-container > li > a {
  width: 100%;
  padding: 0.5rem 0;
}

#menu-toggle {
  aspect-ratio: 1/1;
  transform: translateY(-3px);
}

@media (max-width: 1000px) {
  .nav-inner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  nav .desktop {
    display: none;
  }

  nav .mobile {
    display: flex;
    justify-self: end;
  }

  .inline-input {
    max-width: unset !important;
    flex: 1;
    width: 100%;
  }

  #mobile-container[hidden] {
    display: none;
  }

  #mobile-container:not([hidden]) {
    display: flex;
  }
}

/*
* ==============================================================================
* INPUT STYLES
* ==============================================================================
*/

label input,
label textarea {
  margin-top: 0.5rem;
}

input,
textarea {
  width: 100%;
  flex: 1;
}

textarea {
  resize: none;
  height: 10rem !important;
}

input:hover,
textarea:hover {
  cursor: text;
  border: 1px solid var(--border-hover);
}

input:focus,
textarea:focus {
  cursor: text;
  border: 1px solid var(--accent);
}

input,
button {
  padding: 0 1rem;
}

textarea {
  padding: 1rem;
}

input,
textarea,
button {
  height: 3rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray);
  background: var(--main-bg);
  outline: none;
  transition:
    all 250ms,
    outline 0s;
  border-radius: var(--radius);
}

button,
input[type="submit"] {
  cursor: pointer;
}

.inline-input {
  display: flex;
  gap: 0.25rem;
  width: 100%;
  justify-self: center;
  max-width: 680px;
}

button svg {
  width: 1em;
  height: 1em;
}

button {
  display: inline-flex;
  gap: 0.5rem;
}

button:focus-visible,
input[type="submit"]:focus-visible {
  outline: var(--sel-outline);
  border-color: var(--sel-color);
}

button:hover {
  border-color: var(--white);
}

.btn-red {
  color: var(--white);
  background: var(--red);
  border: 1px solid var(--red);
}

.btn-red:hover {
  background: var(--main-bg);
  border: 1px solid var(--red);
}

.btn-red-alt {
  color: var(--white);
  background: var(--red-alt);
  border: 1px solid var(--border-gray);
}

.btn-red-alt:hover,
.btn-red-alt:focus-visible {
  background: var(--main-bg);
  border: 1px solid var(--red);
}

input[type="submit"],
.btn-accent {
  color: var(--main-bg);
  background: var(--accent);
  border: 1px solid var(--accent) !important;
}

input[type="submit"]:hover,
input[type="submit"]:focus-visible,
.btn-accent:hover,
.btn-accent:focus-visible {
  color: var(--white);
  background: var(--main-bg);
}

/*
* ==============================================================================
* MAIN
* ==============================================================================
*/

body > main {
  max-width: 1400px;
  margin: 2rem auto;
  box-sizing: content-box;
}

hr {
  border-color: var(--border-gray);
}

/* Vertical rule */
.vr {
  border: 1px solid var(--border-gray);
}

.small-text {
  padding: 0;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  margin-top: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
* ==============================================================================
* FOOTER
* ==============================================================================
*/

body > footer {
  min-height: 170px;
  font-size: 1rem;
  background: var(--gray-bg);
  border-top: 2px solid var(--border-gray);
  position: relative;
  display: flex;
  align-items: center;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 4rem;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-inner img {
  height: auto;
  max-width: 100%;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 4rem;
  flex: 1;
}

.footer-inner h1 {
  margin-bottom: 0.5rem;
}

.footer-inner ul li {
  display: flex;
}

.footer-inner ul li a {
  color: var(--accent);
  flex: 1;
  padding: 0.5rem 0;
}

@media (max-width: 1000px) {
  body > footer,
  .footer-inner {
    align-items: flex-start;
  }

  .footer-inner,
  .footer-links {
    flex-direction: column;
  }

  .footer-inner {
    padding: 1rem 0;
  }
}

#throbber {
  text-align: center;
  font-size: 2rem;
  color: #999;
  margin-top: 2rem;
}
