:root {
  --main-bg: #020202;
  --accent: #9e6dff;
  --gray-bg: #252525;
  --border-gray: #575757;
  --white: #ebe9e9;
  --red: #dc3545;
  --radius: 4px;

  font-family: Inter, sans-serif;
  /* prettier-ignore */
  font-feature-settings:
    "liga" 1,
    "calt" 1, /* Contextual alternates */
    "tnum" 1, /* Tabular numbers */
    "zero" 1, /* Slashed zero */
    "ss02" 1, /* Disambiguation */
    "ss03" 1; /* Round quotes & comma */
  font-variant-numeric: tabular-nums;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  background: var(--main-bg);
  color: var(--white);
}

body,
input,
button,
textarea {
  font-family: inherit;
}

body > main,
body > nav,
body > footer {
  padding: 1rem 2rem;
}

/*
* ==============================================================================
* TOAST
* ==============================================================================
*/

#toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  color: #fff;
  padding: 1.25rem;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-Err {
  background: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}

.toast-Err hr {
  border-color: #9e232f;
}

.toast-Ok {
  background: #35dc79 !important;
  border: 1px solid #35dc79 !important;
  color: #021909 !important;
}

.toast-Ok hr {
  border-color: #29b060;
}

/*
* ==============================================================================
* NAVBAR
* ==============================================================================
*/

nav {
  width: 100%;
  font-size: 1rem;
  background: var(--gray-bg);
  border-bottom: 2px solid var(--border-gray);
}

.nav-inner {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(0, 680px) minmax(auto, 1fr);
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  text-wrap: nowrap;
  gap: 2rem;
}

.nav-inner > :first-child {
  justify-self: start;
}

.nav-inner > :nth-child(2) {
  justify-self: center;
}

.nav-inner > :last-child {
  justify-self: end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  color: inherit;
  text-decoration: none;
  transform: translateY(0.25rem);
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
  transition: 250ms all;
}

nav a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}

/*
* ==============================================================================
* INPUT STYLES
* ==============================================================================
*/

label input,
label textarea {
  margin-top: 0.5rem;
}

input,
textarea {
  width: 100%;
  flex: 1;
}

textarea {
  resize: none;
  height: 10rem !important;
}

input:focus,
textarea:focus {
  cursor: text;
  border: 1px solid var(--accent);
}

input,
textarea,
button {
  height: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray);
  background: var(--main-bg);
  outline: none;
  cursor: pointer;
  transition: 250ms all;
  border-radius: var(--radius);
}

.inline-input {
  display: flex;
  gap: 0.25rem;
  width: 100%;
  justify-self: center;
  max-width: 680px;
}

button svg {
  width: 1em;
  height: 1em;
}

button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.btn-no-border-red {
  border: none !important;
  background: none !important;
  color: var(--red);
}

.btn-red {
  color: var(--white);
  background: var(--red);
  border: 1px solid var(--red);
}

.btn-red:hover {
  background: var(--main-bg);
}

input[type="submit"],
.btn-accent {
  color: var(--main-bg);
  background: var(--accent);
  border: 1px solid var(--accent);
}

input[type="submit"]:hover,
.btn-accent:hover {
  color: var(--white);
  background: var(--main-bg);
}

/*
* ==============================================================================
* MAIN
* ==============================================================================
*/

body > main {
  max-width: 1400px;
  margin: 2rem auto;
  box-sizing: content-box;
}

hr {
  border-color: var(--border-gray);
}

/* Vertical rule */
.vr {
  border: 1px solid var(--border-gray);
}

.small-text {
  padding: 0;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  margin-top: 1rem;
}
