:root {
  --accent: #9e6dff;
  --gray-bg: #252525;
  --border-gray: #575757;

  font-family: Inter, sans-serif;
  /* prettier-ignore */
  font-feature-settings:
    "liga" 1,
    "calt" 1, /* Contextual alternates */
    "tnum" 1, /* Tabular numbers */
    "zero" 1, /* Slashed zero Slashed zero */
    "ss02" 1, /* Disambiguation */
    "ss03" 1; /* Round quotes & comma */
  font-variant-numeric: tabular-nums;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  background: #020202;
  color: white;
}

main,
nav,
footer {
  padding: 1rem 2rem;
}

/*
* ==============================================================================
* NAVBAR
* ==============================================================================
*/

nav {
  width: 100%;
  font-size: 1rem;
  background: var(--gray-bg);
  border-bottom: 2px solid var(--border-gray);
}

.nav-inner {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(0, 680px) minmax(auto, 1fr);
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  text-wrap: nowrap;
  gap: 2rem;
}

.nav-inner > :first-child {
  justify-self: start;
}

.nav-inner > :nth-child(2) {
  justify-self: center;
}

.nav-inner > :last-child {
  justify-self: end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  color: white;
  text-decoration: none;
  transform: translateY(0.25rem);
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
  transition: 250ms all;
}

nav a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}

input,
button {
  border: 1px solid var(--border-gray);
  background: #020202;
  outline: none;
  height: 3rem;
}

.inline-input {
  display: flex;
  gap: 0.25rem;
  width: 100%;
  justify-self: center;
  max-width: 680px;
}

input {
  width: 100%;
  flex: 1;
  transition: 250ms all;
}

input:focus {
  cursor: text;
  border: 1px solid var(--accent);
}

input,
button {
  padding: 0 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray);
  background: #020202;
  outline: none;
  cursor: pointer;
}

button svg {
  width: 1em;
  height: 1em;
}

/*
* ==============================================================================
* MAIN
* ==============================================================================
*/

main {
  max-width: 1400px;
  margin: 2rem auto;
}
