#offers {
    margin: auto;
    max-width: 90%;
    width: 1800px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

#offers > article {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    transition: opacity 300ms ease-in;
}

#offers > article.htmx-settling {
    opacity: 0;
}

.htmx-indicator {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3rem;
}

