main {
  box-sizing: border-box !important;
  margin: 0 auto !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 2rem;
  background: var(--gray-bg);
  max-width: 600px;
  border-radius: var(--radius);
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

.small-text {
  padding: 0;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  margin-top: 1rem;
}

a {
  color: var(--accent);
}
