main > hr {
  margin: 2rem 0;
}

.with-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

#cover-container {
  margin: auto;
  width: 500px;
  max-width: 100%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
}

#cover-container button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: calc(50% - 1.5rem);
  background: var(--white);
  color: var(--border-gray);
  font-size: 2rem;
  opacity: 0;
  transition: 250ms all;
}

#cover-container:hover button {
  opacity: 0.5;
}

#cover-container button:disabled {
  display: none;
}

#cover-container button:hover {
  opacity: 1;
}

#cover-container button.left {
  left: 1rem;
}

#cover-container button.right {
  right: 1rem;
}

#main-cover {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-gray);
  border-radius: var(--radius);
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel ul {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  width: 100%;
}

.carousel ul li {
  width: 80px;
  height: 80px;
  border: 2px solid var(--border-gray);
  border-radius: var(--radius);
  overflow: hidden;
  transition: 250ms border-color;
}

.carousel ul li:hover {
  border-color: var(--white);
}

.carousel ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 250ms scale;
}

.carousel ul li img:hover {
  scale: 1.2;
}

.row {
  display: flex;
  gap: 2rem;
}

#inner-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

#inner-container h1 {
  text-align: justify;
}

#data-section {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#data-section div:first-of-type {
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  padding: 1rem;
}

#data-section div:first-of-type > p:first-of-type {
  margin-bottom: 0.5rem;
}

#details {
  width: 100%;
  flex: 1;
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  border-spacing: 0;
}

#details tr {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

#details tr:nth-child(even) {
  background: var(--gray-bg);
}

#details th,
#details td {
  padding: 0.5rem 0.75rem;
}

#details th {
  font-weight: bold;
  align-items: center;
  gap: 0.5rem;
}

#details td {
  line-height: 1.25rem;
  color: #ccc;
}

#button-section {
  display: flex;
  flex-direction: column;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  padding: 1rem;
  gap: 1rem;
  border-radius: var(--radius);
}

.btn-no-border-red {
  margin-top: auto;
}

@media only screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }

  .carousel {
    width: 100% !important;
    flex: 1;
  }
}

@media only screen and (max-width: 1000px) {
  #cover-container button {
    opacity: 0.75;
  }
}
