main h1 {
  font-size: 3rem;
}

main hr {
  margin: 2rem 0;
}

#offers a {
  text-decoration: inherit;
  color: inherit;
  transition: opacity 300ms ease-in;
}

#offers a.htmx-settling {
  opacity: 0;
}

#offers article {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1.5rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  transition: 250ms all;
}

#offers article header {
  flex: 0 1 300px;
  max-width: 300px;
  width: 100%;
}

#offers article header img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  display: block;
}

@media only screen and (max-width: 1000px) {
  #offers article {
    flex-direction: column;
  }
  #offers article main .small-text {
    margin-top: 1.5rem !important;
  }
  #offers article header {
    width: 100%;
    max-width: 100%;
  }
}

#offers article:hover {
  background: #151515;
}

#offers article main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#offers article main h2 {
  margin-bottom: 1rem;
}

#offers article main ul {
  margin-left: 1rem;
  line-height: 1.5rem;
}

#offers article main .small-text {
  margin-top: auto;
  color: #999;
  font-size: 1rem;
}

#offers article footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 260px;
  flex: 0;
}

#offers article footer button {
  margin-top: 1rem;
  width: 100%;
}

.htmx-indicator,
.content-end {
  text-align: center;
  font-size: 2rem;
  color: #999;
}
