main > hr {
  margin: 2rem 0;
}

img {
  border: 2px solid var(--border-gray);
}

.with-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

#cover-container {
  position: relative;
  width: fit-content;
}

#cover-container button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  background: var(--white);
  color: var(--border-gray);
  font-size: 2rem;
  opacity: 0.5;
  transition: 250ms all;
}

#cover-container button:disabled {
  display: none;
}

#cover-container button:hover {
  opacity: 1;
}

#cover-container button.left {
  left: 1rem;
}

#cover-container button.right {
  right: 1rem;
}

#main-cover {
  max-height: 600px;
  max-width: 600px;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel ul {
  display: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  width: 100%;
}

.carousel ul li {
  display: inline;
}

.carousel ul li img {
  height: auto;
  width: 80px;
  max-height: 100px;
  object-fit: cover;
  display: inline;
  cursor: pointer;
}

.row {
  display: flex;
  gap: 2rem;
}

#inner-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

#inner-container h1 {
  text-align: justify;
}

#data-section {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#data-section div:first-of-type > p:first-of-type {
  margin-bottom: 0.5rem;
}

#details {
  padding: 0.25rem;
  width: 100%;
  flex: 1;
  border-collapse: collapse;
  border: 1px solid var(--border-gray);
}

#details tr {
  display: flex;
  flex-direction: column;
}

#details tr:nth-child(even) {
  background: var(--gray-bg);
}

#details th,
#details td {
  padding: 0.5rem 0.75rem;
}

#details th {
  font-weight: bold;
  align-items: center;
  gap: 0.5rem;
}

#details td {
  line-height: 1.25rem;
}

#button-section {
  display: flex;
  flex-direction: column;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  padding: 1rem;
  gap: 1rem;
}

.btn-no-border-red {
  margin-top: auto;
}

@media only screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }

  .carousel {
    width: 100% !important;
    flex: 1;
  }

  #main-cover {
    max-height: unset;
    width: 100%;
    max-width: 560px;
  }
}
