tr > td:first-child {
  padding-right: 2rem;
}

tr > td {
  padding: 0.5rem 0;
}

table {
  margin-bottom: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: calc(2rem + 2px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-bg);
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  border-radius: var(--radius);
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--white);
}

@media (prefers-reduced-motion: no-preference) {
  .slider::before,
  .slider {
    transition: .4s;
  }
}

input:checked + .slider {
  border-color: var(--accent);
  background-color: var(--accent);
}


input:checked + .slider:before {
  transform: translateX(1.5rem);
}
