main h1 {
  font-size: 3rem;
}

main hr {
  margin: 2rem 0;
}

.settling {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .settling {
    scale: 0.9;
  }
}

article {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1.5rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  transition:
    all 250ms,
    outline 0s;
  border-radius: var(--radius);
}

article > a {
  display: flex;
  flex: 1;
  gap: 1.5rem;
  text-decoration: inherit;
  color: inherit;
  transition:
    opacity 300ms ease-in,
    scale 200ms;
}

article header {
  flex: 0 1 300px;
  max-width: 300px;
  width: 100%;
}

article header img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  max-height: 300px;
  object-fit: cover;
  display: block;
  border: 2px solid var(--border-gray);
  border-radius: var(--radius);
}

@media only screen and (max-width: 1000px) {
  article,
  article > a {
    flex-direction: column;
  }

  article main .small-text {
    margin-top: 1.5rem !important;
  }

  article header {
    width: 100%;
    max-width: 100%;
  }
}

article:has(a:hover) {
  background: var(--gray-hover);
  border-color: var(--border-hover);
}

article main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

article main h2 {
  margin-bottom: 1rem;
}

article main ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
}

article main ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

article main ul li i {
  color: var(--accent);
  flex-shrink: 0;
}

article main .small-text {
  margin-top: auto;
  color: #999;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 300ms;
}

article:has(a:hover) main .small-text {
  opacity: 1;
}

article:has(a:focus-visible) {
  outline: var(--sel-outline);
}

article a:focus-visible {
  outline: none;
}

article footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 260px;
  flex: 0;
}

article footer button {
  margin-top: 1rem;
  width: 100%;
}

#next-page {
  text-align: center;
}

#next-page a {
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray);
  background: var(--main-bg);
  outline: none;
  transition:
    all 250ms,
    outline 0s;
  border-radius: var(--radius);
  text-decoration: inherit;
  color: inherit;
}

#next-page a:hover {
  border-color: var(--white);
}

.content-end {
  text-align: center;
  font-size: 2rem;
  color: #999;
  margin-top: 2rem;
}

button.favourited {
  color: var(--white);
  background: var(--red);
  border: 1px solid var(--red);
}

button.favourited svg {
  fill: var(--white);
}

button.favourited:hover {
  background: var(--main-bg);
  border: 1px solid var(--red);
}
