body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../_assets/andrei-castanha-DnZiR361K6Y-unsplash.webp");
  background-size: cover;
  pointer-events: none;
  background-repeat: no-repeat;
  z-index: -1;
}

body::after {
  content: "Andrei Castanha (Unsplash.com)";
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  font-size: 16px;
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: -1;
}

main {
  position: relative;
  box-sizing: border-box !important;
  margin: 0 auto !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-container {
  display: flex;
  gap: 2rem;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
  background: var(--gray-bg);
  border-radius: var(--radius);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 768px) {
  #inner-container {
    flex-direction: column;
  }
  .right {
    gap: 0 !important;
  }
}

form {
  flex: 1;
  max-width: 680px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

a {
  color: var(--accent);
}
