#noscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}

#noscript > * {
  text-align: center;
}

body > main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: calc(100vh - 11rem);
}

#chats-list,
#message-box {
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  flex: 1;
  display: flex;
  flex-direction: column;
}

#chats-list {
  width: 100%;
  overflow-y: scroll;
}

#message-box {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#chats-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  align-items: center;
}

#tabs {
  width: calc(100% - 8px);
}

#tabs ul {
  display: flex;
  align-items: flex-end;
  height: 40px;
}

#tabs li {
  flex: 1;
  height: 32px;
  display: inline;
  text-align: center;
  padding: 0.25rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-bottom: none;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: background-color 250ms;
}

@media (prefers-reduced-motion: no-preference) {
  #tabs li {
    transition:
      background-color 250ms,
      height 250ms;
  }
}

#tabs li label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#tabs li:has(label:hover) {
  background-color: var(--gray-hover);
}

#tabs li:has(input:checked) {
  height: 100%;
  color: var(--main-bg);
  background-color: var(--accent);
}

.chat {
  height: auto;
  display: flex;
  padding: 0.5rem;
  background: var(--main-bg);
  border: none;
  border-top: 1px solid var(--border-gray) !important;
  border-radius: 0;
  justify-content: flex-start;
  gap: 0.75rem;
}

.chat .chat-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  flex: 1;
}

.chat-details > h3,
.chat-details > span {
  display: inline-block;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.chat-details h3 {
  text-align: left;
}

.chat:hover,
.chat.active {
  background: var(--accent);
  color: black;
}

.chat > div > span {
  font-size: 0.9rem;
}

.chat img {
  width: 70px;
  aspect-ratio: 1;
  border-radius: var(--radius);
  border: 1px solid var(--border-gray);
  object-fit: cover;
}

.chat img.pfp {
  border-radius: 100%;
}

#chats-list .chat:first-child {
  border-top: unset !important;
}

#chats-list .chat:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-bottom: 1px solid var(--border-gray);
}

.no-chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text-secondary);
  font-size: 0.95rem;
  margin: auto;
}

#message-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}

.message {
  place-self: flex-start;
  background: var(--main-bg);
  color: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
}

.message.author {
  place-self: flex-end;
  background: var(--accent);
  color: var(--main-bg);
}

.message .message-author {
  font-weight: 700;
}

.message.author p {
  text-align: end;
}

#message-to {
  padding: 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  background: var(--main-bg);
  border-bottom: 1px solid var(--border-gray);
  height: 5rem;
  overflow: hidden;
  color: var(--white);
  align-items: center;
}

#message-to img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
}

#new-message {
  color: var(--border-gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#new-message .lucide-message-square-dashed {
  width: 4rem;
  height: 4rem;
}

#message-input {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  background: var(--main-bg);
  border-top: 1px solid var(--border-gray);
}

#message-input form {
  flex: 1;
  display: flex;
}

#message-input input,
#message-input button {
  border: none;
  border-radius: unset;
}

#message-input button {
  border-left: 1px solid var(--border-gray);
  border-radius: unset;
}

.small-text {
  font-size: 1.15rem;
  margin: 0;
}
