#noscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}

#noscript > * {
  text-align: center;
}

body > main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#chats-list,
#message-box {
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
}

#chats-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  align-items: center;
}

#tabs {
  width: calc(100% - 8px);
}

#tabs ul {
  display: flex;
  align-items: flex-end;
  height: 40px;
}

#tabs li {
  flex: 1;
  height: 32px;
  display: inline;
  text-align: center;
  padding: 0.25rem;
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-bottom: none;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: background-color 250ms;
}

@media (prefers-reduced-motion: no-preference) {
  #tabs li {
    transition:
      background-color 250ms,
      height 250ms;
  }
}

#tabs li label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#tabs li:has(label:hover) {
  background-color: var(--gray-hover);
}

#tabs li:has(input:checked) {
  height: 100%;
  color: var(--main-bg);
  background-color: var(--accent);
}

#chats-list {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 0 1;
  height: 8rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: var(--main-bg);
  border-top: 1px solid var(--border-gray);
}

.chat * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat img {
  aspect-ratio: 1/1;
  border-radius: var(--radius);
  border: 1px solid var(--border-gray);
}

#chats-list .chat:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-top: unset;
}

#chats-list .chat:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-bottom: 1px solid var(--border-gray);
}

#chats-list:has(#no-chats) {
  align-items: center;
  justify-content: center;
}

#no-chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text-secondary);
  font-size: 0.95rem;
  margin: auto;
}

#message-box {
  flex: 1;
}
