main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

main hr {
  margin: 2rem 0;
}

.money-input {
  display: inline-flex;
  text-align: right;
  width: 6rem;
  margin-right: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.row > div {
  width: 50%;
}

#image-input-outer {
  background: var(--gray-bg);
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  padding: 1rem;
}

#image-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#image-input > div {
  position: relative;
}

#image-input label {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  background: var(--main-bg);
  outline: none;
  transition: all 250ms, outline 0s;
  cursor: pointer;
  overflow: hidden;
}

#image-input label > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 250ms;
}

@media (prefers-reduced-motion: no-preference) {
  #image-input label > img:hover,
  #image-input label > img:has(~ input:focus-visible) {
    scale: 1.2;
  }
}

#image-input label:hover {
  border-color: var(--white);
}

#image-input label:has(input:focus-visible) {
  outline: var(--sel-outline);
}

/* this #image-input is needed for specificity */
#image-input .has-img > button {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: var(--gray-bg);
  font-size: 2rem;
  border: 1px solid var(--border-gray);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms, color 250ms;
  opacity: 0;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  #image-input {
    grid-template-columns: repeat(3, 1fr);
  }

  .row {
    flex-direction: column;
  }

  .row > div {
    width: revert;
  }

  #image-input .has-img > div {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  #image-input {
    grid-template-columns: repeat(2, 1fr);
  }
}

#image-input div button {
  display: none;
  font-feature-settings: "case"; /* this centers the "×" nicely */
}

#image-input > div:hover > button,
#image-input label:has(input:focus-visible) + button,
#image-input > div > button:focus-visible {
  opacity: 1;
}

.has-img > button:hover,
.has-img > button:focus {
  color: var(--red);
}
