body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../_assets/andrei-castanha-rKu4WK5UYw8-unsplash.webp");
  background-size: cover;
  pointer-events: none;
  background-repeat: no-repeat;
  z-index: -1;
}

body::after {
  content: "Andrei Castanha (Unsplash.com)";
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  font-size: 16px;
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: -1;
}

main {
  box-sizing: border-box !important;
  margin: 0 auto !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 2rem;
  background: var(--gray-bg);
  max-width: 600px;
  border-radius: var(--radius);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

.small-text {
  padding: 0;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
  margin-top: 1rem;
}

a {
  color: var(--accent);
}
